/* Root */
:root {
  --clr-white: #fff;
  --clr-black: #4d3b3b;
  --clr-Deep-Plum: #5c2a4a;
  --clr-Cream-White: #fff8f6;
  --clr-gray: #f5f4f4;
  --clr-Mauve-Mist: #d7c0d0;
  --clr-Dusty-Pink: #e7a6b5;
  --clr-Warm-Taupe: #d2b2a8;

  --transition: all 0.4s ease-in-out;
  --box-shodow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

/* Default font */
.nunito {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

/* Default settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
  scroll-behavior: smooth;
}

/*Elements default style*/
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/* Desktop and tablet Design */
.container {
  padding: 2rem 5rem;
}
