/* Header Section*/
/* Top header Section */
.container .header .top_header {
  display: flex;
  justify-content: space-between;
}
/* Logo Section */
.container .header .top_header .logo {
  display: flex;
  align-items: center;
}
/* Logo Image */
.container .header .top_header .logo img {
  width: 12%;
  margin-right: 0.5rem;
}
/* Logo title */
.container .header .top_header .logo h1 {
  color: var(--clr-Deep-Plum);
}

/* Search_box */
.container .header .top_header .search_box form {
  display: flex;
  position: relative;
}
.container .header .top_header .search_box form input {
  padding: 0.5rem 15rem 0.5rem 2rem;
  border: none;
  background-color: var(--clr-gray);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.container .header .top_header .search_box form input:focus {
  outline: none;
}
.container .header .top_header .search_box form input::placeholder {
  font-size: 0.8rem;
}
/* Search icon */
.container .header .top_header .search_box form button {
  position: absolute;
  right: 0;
  text-align: center;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--clr-Mauve-Mist);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.container .header .top_header .search_box form button:hover {
  background-color: var(--clr-Dusty-Pink);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.container .header .top_header .search_box .fa-magnifying-glass {
  font-size: 1rem;
  color: var(--clr-black);
}
.container .header .top_header .search_box .fa-magnifying-glass:hover {
  color: var(--clr-white);
  transition: var(--transition);
}
/* Top Header icons */
.container .header .top_header .top_header_icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 20%;
}
.container .header .top_header .top_header_icons a {
  color: var(--clr-Deep-Plum);
  font-size: 1.5rem;
}
.container .header .top_header .top_header_icons a:hover {
  color: var(--clr-Dusty-Pink);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
/* End of Top header Section */

/* Navigation bar */
.header .navigation {
  margin-top: 3.5rem;
}
.header .navigation .navigation_bar {
  display: flex;
  gap: 3rem;
  align-items: center;
  border-top: 3px solid var(--clr-gray);
  padding-top: 2rem;
}
.header .navigation .navigation_bar li a {
  color: var(--clr-Deep-Plum);
  font-size: 1rem;
}
.header .navigation .navigation_bar li:not(:first-child):hover a {
  color: var(--clr-Dusty-Pink);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
/* Category in navbar */
.header .navigation .navigation_bar li:first-child {
  padding: 0.5rem 4rem 0.5rem 1rem;
  background-color: var(--clr-Mauve-Mist);
  color: var(--clr-white);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.header .navigation .navigation_bar li:first-child:hover {
  background-color: var(--clr-Dusty-Pink);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.header .navigation .navigation_bar li:first-child:hover a {
  color: var(--clr-white);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
/* End of Navigation bar */

/* Slider */
.slider {
  height: 30rem;
  background-image: url(../images/slider.jpg);
  background-position: center;
  background-color: var(--clr-black);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Shop now button */
.slider .shop_now {
  height: 3rem;
  border: none;
  background-color: var(--clr-Mauve-Mist);
  color: #000;
  padding: 0 3rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.slider .shop_now:hover {
  background-color: var(--clr-Dusty-Pink);
  color: var(--clr-white);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
/* End of Slider */

/* Category */
.category {
  overflow-x: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.category .categories {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
/* Category Title */
.category .category_title {
  padding-bottom: 1rem;
  font-size: 2rem;
  width: min-content;
  border-bottom: 4px solid var(--clr-Dusty-Pink);
  color: var(--clr-Deep-Plum);
}

/* Category Item */
.category .category_item {
  box-shadow: var(--box-shodow);
}
.category .category_item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.category .category_item:hover a p {
  color: var(--clr-Dusty-Pink);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.category .category_item img {
  width: 8rem;
  height: 10rem;
}
.category .category_item p {
  color: var(--clr-black);
  font-size: 1rem;
  font-weight: bold;
}
/* End of Category */

/* Best sells */
.best_sells {
  margin-top: 5rem;
}
/* Best sells Title */
.best_sells .best_sells_title {
  margin: 0 auto;
  font-size: 2rem;
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--clr-Dusty-Pink);
  width: fit-content;
  color: var(--clr-Deep-Plum);
  margin-bottom: 2rem;
}
/* Best sell items */
.best_sells .best_sells_items {
  margin-top: 1rem;
  padding-top: 1rem;
  display: grid;
  gap: 2.1rem;
  justify-content: center;
  grid-template-columns: repeat(6, auto);
}
/* Best sells item */
.best_sells .best_sells_items .best_sell_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Best sells item image */
.best_sells .best_sells_items .best_sell_item img {
  width: 8rem;
  height: 10rem;
  box-shadow: var(--box-shodow);
}
/* Best sells item Descriptions */
.best_sells .best_sells_items .best_sell_item .descriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.best_sells .best_sells_items .best_sell_item .descriptions .author {
  margin-top: 1rem;
  color: var(--clr-Deep-Plum);
  font-size: 1rem;
}
.best_sells .best_sells_items a:hover .best_sell_item .descriptions .author {
  color: var(--clr-Dusty-Pink);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.best_sells .best_sells_items .best_sell_item .descriptions .book_name {
  color: var(--clr-Dusty-Pink);
  font-weight: bold;
  padding-bottom: 0.3rem;
  text-align: center;
}
.best_sells .best_sells_items a:hover .best_sell_item .descriptions .book_name {
  border-bottom: 2px solid var(--clr-Dusty-Pink);
  color: var(--clr-Deep-Plum);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
/* End of best sells */

/* Daily quote */
.daily_quote {
  margin: 3.5rem 0;
  background-image: url(../images/quote.jpg);
  background-size: cover;
  background-color: rgba(136, 12, 136, 0.5);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: color;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 3rem;
  gap: 1rem;
  color: var(--clr-white);
}
.daily_quote .quote_title {
  font-size: 1.3rem;
}
.daily_quote .quote_author {
  font-size: 1.3rem;
}
/* End of Daily quote */

/* Popular authors */
.popular_authors .popular_authors_title {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--clr-Deep-Plum);
  border-bottom: 3px solid var(--clr-Dusty-Pink);
  width: fit-content;
  padding: 1rem;
}
.popular_authors {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.popular_authors .authors {
  display: flex;
  gap: 5rem;
  margin-top: 1rem;
}
/* Author */
.popular_authors a .p_author {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.popular_authors .authors a .p_author .author_name {
  color: var(--clr-Deep-Plum);
  text-align: center;
}
.popular_authors .authors a .p_author img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.popular_authors .authors a .p_author .author_book {
  color: var(--clr-Dusty-Pink);
}
/* End of Popular authors */

/* Footer */
.footer {
  display: flex;
  margin-top: 2rem;
  height: 20rem;
  background-color: var(--clr-gray);
}
.footer .container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
}
/* Footer items */
.footer .footer_items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* Footer items titles */
.footer .footer_section_titles {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--clr-Deep-Plum);
}
/* Quick access */
.footer .quick_access a {
  width: fit-content;
  color: var(--clr-black);
}
.footer .quick_access a:hover {
  border-bottom: 2px solid var(--clr-Dusty-Pink);
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
}
/* Social medias */
.footer .social_medias a{
  color: var(--clr-Deep-Plum);
}
.footer .social_medias .fa-telegram,
.fa-x,
.fa-instagram,
.fa-whatsapp {
  font-size: 1.8rem;
}
.footer .social_medias a{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/* Legal */
.footer .legal a{
  color: var(--clr-Deep-Plum);
}
