/* 1100 px */

@media screen and (max-width: 1200px) {
  /* Hedaer */
  /* Top header */
  .container .header .top_header .logo img {
    width: 2.5rem;
  }
  .container .header .top_header .top_header_icons {
    margin-left: 0;
  }
}

/* 992px */
@media screen and (max-width: 992px) {
  /* Category */
  .category .categories {
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 3rem;
  }

  /* Best sells */
  .best_sells {
    margin-top: 3rem;
  }
  .best_sells .best_sells_items {
    grid-template-columns: repeat(5, auto);
    gap: 2.5rem;
  }

  /* Popular authors */
  .popular_authors .authors {
    gap: 3rem;
  }
}

/* 900px */
@media screen and (max-width: 900px) {
  /* Hedaer top Header */
  .search_box form input {
    padding: 0.5rem 10rem 0.5rem 1rem;
  }

  /* Navbar */
  .header .navigation .navigation_bar {
    gap: 2rem;
  }

  /* Category */
  .category .categories {
    margin: 0 auto;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
  }

  /* Best sells items */
  .best_sells .best_sells_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
  }

  /* Popular authors */
  .popular_authors .authors {
    gap: 2rem;
  }
  .popular_authors .authors a .p_author img {
    width: 5rem;
    height: 5rem;
  }
}

/* 800px */
@media screen and (max-width: 800px) {
  /* Search box */
  .top_header .search_box {
    display: none;
  }

  /* Slider */
  .slider {
    position: relative;
    height: 20rem;
  }
  #slider_search_box {
    display: block;
  }
  .search_box form button {
    right: 14.1rem;
  }
  .slider .shop_now {
    display: none;
  }

  /* Category */
  .category .categories {
    gap: 2rem;
  }

  /* Best sells */
  .best_sells .best_sells_items {
    gap: 1.5rem;
  }

  /* Popular authors */
  .popular_authors .authors {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

/* 768px */
@media screen and (max-width: 768px) {
  /* Navigation */
  .header .navigation {
    margin-top: 3rem;
  }
  .header .navigation .navigation_bar {
    gap: 1.5rem;
    padding-top: 1.5rem;
  }
  .header .navigation .navigation_bar li a {
    font-size: 0.9rem;
  }
  .header .navigation .navigation_bar li:first-child {
    padding: 0.5rem 3rem 0.5rem 1rem;
  }

  /* Searchbox */
  .search_box form button {
    right: 14rem;
    padding: 0.45rem 0.8rem;
  }

  /* Category */
  .category .category_item {
    padding-bottom: 0.5rem;
  }
  .category .category_title {
    font-size: 1.7rem;
    padding-bottom: 0.8rem;
    border-bottom: 3px solid var(--clr-Dusty-Pink);
  }
  .category .category_item img {
    width: 6rem;
    height: 8rem;
  }
  .category .category_item p {
    font-size: 0.8rem;
  }

  /* Best sells */
  .best_sells .best_sells_items {
    gap: 0.5rem;
  }
  .best_sells .best_sells_title {
    font-size: 1.7rem;
    padding-bottom: 0.8rem;
  }
  .best_sells .best_sells_items .best_sell_item img {
    width: 6rem;
    height: 8rem;
  }
  .best_sells .best_sells_items .best_sell_item .descriptions {
    font-size: 0.8rem;
  }
  /* Daily qoute */
  .daily_quote {
    margin: 2rem 0;
    height: 10rem;
  }
  .daily_quote .quote_title {
    font-size: 1rem;
  }
  .daily_quote .quote_author {
    font-size: 0.9rem;
  }

  /* Popular authors */
  .popular_authors .popular_authors_title {
    font-size: 1.2rem;
    border-bottom: 2px solid var(--clr-Dusty-Pink);
    padding-bottom: 0.5rem;
  }
  .popular_authors a .p_author {
    gap: 0.5rem;
  }
  .popular_authors .authors a .p_author img {
    width: 4rem;
    height: 4rem;
  }
  .popular_authors .authors a .p_author .author_name {
    font-size: 0.8rem;
  }
  .popular_authors .authors a .p_author .author_book {
    font-size: 0.7rem;
  }

  /* Footer */
  .footer {
    height: fit-content;
    padding-bottom: 1rem;
  }
  .footer .footer_section_titles {
    margin-bottom: 0.5rem;
  }
  .footer .social_medias .fa-telegram,
  .fa-x,
  .fa-instagram,
  .fa-whatsapp {
    font-size: 1.2rem;
  }
}

/* 700px */
@media screen and (max-width: 700px) {
  /* Header */
  .container .header .top_header .logo h1 {
    font-size: 1.5rem;
  }
  .container .header .top_header .logo img {
    width: 2rem;
  }
  .container .header .top_header .top_header_icons a {
    font-size: 1.3rem;
  }

  /* Slider */
  .search_box form button {
    right: 12rem;
  }

  /* Category */
  .category .categories {
    gap: 3rem;
  }

  /* Best sells */
  .best_sells .best_sells_items {
    gap: 2rem;
  }
}
