/* Header Section*/
/* Top header Section */
.container .header .top_header {
  display: flex;
  justify-content: space-between;
}
/* Logo Section */
.container .header .top_header .logo {
  display: flex;
  align-items: center;
}
/* Logo Image */
.container .header .top_header .logo img {
  width: 12%;
  margin-right: 0.5rem;
}
/* Logo title */
.container .header .top_header .logo h1 {
  color: var(--clr-Deep-Plum);
}

/* Search_box */
.container .header .top_header .search_box form {
  display: flex;
  position: relative;
}
.container .header .top_header .search_box form input {
  padding: 0.5rem 15rem 0.5rem 2rem;
  border: none;
  background-color: var(--clr-gray);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.container .header .top_header .search_box form input:focus {
  outline: none;
}
.container .header .top_header .search_box form input::placeholder {
  font-size: 0.8rem;
}
/* Search icon */
.container .header .top_header .search_box form button {
  position: absolute;
  right: 0;
  text-align: center;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--clr-Mauve-Mist);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.container .header .top_header .search_box form button:hover {
  background-color: var(--clr-Dusty-Pink);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.container .header .top_header .search_box .fa-magnifying-glass {
  font-size: 1rem;
  color: var(--clr-black);
}
.container .header .top_header .search_box .fa-magnifying-glass:hover {
  color: var(--clr-white);
  transition: var(--transition);
}
/* Top Header icons */
.container .header .top_header .top_header_icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 20%;
}
.container .header .top_header .top_header_icons a {
  color: var(--clr-Deep-Plum);
  font-size: 1.5rem;
}
.container .header .top_header .top_header_icons a:hover {
  color: var(--clr-Dusty-Pink);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
/* End of Top header Section */

/* Navigation bar */
.header .navigation {
  margin-top: 3.5rem;
}
.header .navigation .navigation_bar {
  display: flex;
  gap: 3rem;
  align-items: center;
  border-top: 3px solid var(--clr-gray);
  padding-top: 2rem;
}
.header .navigation .navigation_bar li a {
  color: var(--clr-Deep-Plum);
  font-size: 1rem;
}
.header .navigation .navigation_bar li:first-child {
  padding: 0.5rem 4rem 0.5rem 1rem;
  background-color: var(--clr-Mauve-Mist);
  color: var(--clr-white);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.header .navigation .navigation_bar li:first-child:hover {
  background-color: var(--clr-Dusty-Pink);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.header .navigation .navigation_bar li:first-child:hover a {
  color: var(--clr-white);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.header .navigation .navigation_bar li:not(:first-child):hover a {
  color: var(--clr-Dusty-Pink);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
/* End of Navigation bar */
