<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="fatemeh-code-official">
    <meta name="subject" content="book shop">
    <meta name="keywords" content="book,book shop,bookshop,booksin">
    <meta name="description" content="Booksin online book shop">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../statics/styles/basics.css">
    <link rel="stylesheet" href="../statics/styles/index.css">
    <link rel="icon" href="../statics/images/favicon.png" type="image/png">
    <title>Home</title>
</head>

<body>
    <!-- Desktop and Tablet container -->
    <div class="container">
        <!-- Header -->
        <header class="header">
            <!-- Top header -->
            <div class="top_header">
                <!-- Logo -->
                <div class="logo">
                    <img src="../statics/images/logo.png" alt="Booksin-logo">
                    <h1>Booksin</h1>
                </div>
                <!-- Search_box -->
                <div class="search_box">
                    <form action="#" method="post">
                        <input type="text" name="inpt_serchbox" placeholder="Search...">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <!-- Top Header icons -->
                <div class="top_header_icons">
                    <a href="#"><i class="fa-regular fa-user"></i></a>
                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                    <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                </div>
            </div>
            <!-- End of Top header -->
            <!-- Navigation -->
            <div class="navigation">
                <nav>
                    <ul class="navigation_bar">
                        <li>
                            <a href="#"><i class="fa-solid fa-table-list"></i> Category</a>
                        </li>
                        <li>
                            <a href="index.html"><i class="fa-regular fa-house"></i> Home</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-regular fa-newspaper"></i> Blog</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-info"></i> About us</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-phone"></i> Contact us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- End of Navigation -->
        </header>
        <!-- End of Header -->
    </div>
    <!-- End of Desktop and Tablet container -->

</body>

</html>