<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="fatemeh-code-official">
    <meta name="subject" content="book shop">
    <meta name="keywords" content="book,book shop,bookshop,booksin">
    <meta name="description" content="Booksin online book shop">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../statics/styles/basics.css">
    <link rel="stylesheet" href="../statics/styles/index.css">
    <link rel="icon" href="../statics/images/favicon.png" type="image/png">
    <title>Home</title>
</head>

<body>
    <!-- Desktop and Tablet container -->
    <div class="container">
        <!-- Header -->
        <header class="header">
            <!-- Top header -->
            <div class="top_header">
                <!-- Logo -->
                <div class="logo">
                    <img src="../statics/images/logo.png" alt="Booksin-logo">
                    <h1>Booksin</h1>
                </div>
                <!-- Search_box -->
                <div class="search_box">
                    <form action="#" method="post">
                        <input type="text" name="inpt_serchbox" placeholder="Search...">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <!-- Top Header icons -->
                <div class="top_header_icons">
                    <a href="#"><i class="fa-regular fa-user"></i></a>
                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                    <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                </div>
            </div>
            <!-- End of Top header -->
            <!-- Navigation -->
            <div class="navigation">
                <nav>
                    <ul class="navigation_bar">
                        <li>
                            <a href="#category"><i class="fa-solid fa-table-list"></i> Category</a>
                        </li>
                        <li>
                            <a href="index.html"><i class="fa-regular fa-house"></i> Home</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-regular fa-newspaper"></i> Blog</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-info"></i> About us</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-phone"></i> Contact us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- End of Navigation -->
        </header>
        <!-- End of Header -->
    </div>
    <!-- Slider -->
    <div class="slider">
        <button class="shop_now">
            <b>Shop Now</b>
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>
    <!-- End of Slider -->
    <div class="container">
        <!-- Category -->
        <section class="category" id="category">
            <h2 class="category_title">Category</h2>
            <div class="categories">
                <!-- Category item -->
                <div class="category_item">
                    <a href="#">
                        <img src="../statics/images/romance.jpg" alt="romance">
                        <p>Romance</p>
                    </a>
                </div>
                <!-- Category item -->
                <div class="category_item">
                    <a href="#">
                        <img src="../statics/images/Horror.jpg" alt="Horror">
                        <p>Horror</p>
                    </a>
                </div>
                <!-- Category item -->
                <div class="category_item">
                    <a href="#">
                        <img src="../statics/images/history.jpg" alt="Historical">
                        <p>History</p>
                    </a>
                </div>
                <!-- Category item -->
                <div class="category_item">
                    <a href="#">
                        <img src="../statics/images/psychology.jpg" alt="psychology">
                        <p>Psychology</p>
                    </a>
                </div>
                <!-- Category item -->
                <div class="category_item">
                    <a href="#">
                        <img src="../statics/images/programming.jpg" alt="programming">
                        <p>Programming</p>
                    </a>
                </div>
                <!-- Category item -->
                <div class="category_item">
                    <a href="#">
                        <img src="../statics/images/Mystery.jpg" alt="Mystery">
                        <p>Mystery</p>
                    </a>
                </div>
            </div>
        </section>
        <!--End of Category -->

        <!-- Best sells -->
        <div class="best_sells">
            <section>
                <!-- Best sell title -->
                <h3 class="best_sells_title">
                    Best sells
                </h3>
                <!-- Best sells items -->
                <div class="best_sells_items">
                    <!-- Best sells item -->
                    <a href="#">
                        <div class="best_sell_item">
                            <div class="pic">
                                <img src="../statics/images/Posts/It_ends_with_us.jpg" alt="It ends with us">
                            </div>
                            <div class="descriptions">
                                <p class="author"><b>Colleen Hoover</b></p>
                                <p class="book_name">It ends with us</p>
                            </div>
                        </div>
                    </a>
                    <!-- Best sells item -->
                    <a href="#">
                        <div class="best_sell_item">
                            <div class="pic">
                                <img src="../statics/images/Posts/They_both_die_at_the_end.jpg" alt="They both die at the end">
                            </div>
                            <div class="descriptions">
                                <p class="author"><b>Adam Slivera</b></p>
                                <p class="book_name">They both die at the end</p>
                            </div>
                        </div>
                    </a>
                    <!-- Best sells item -->
                    <a href="#">
                        <div class="best_sell_item">
                            <div class="pic">
                                <img src="../statics/images/Posts/It_Starts_with_Us.jpg" alt="It Starts with Us">
                            </div>
                            <div class="descriptions">
                                <p class="author"><b>Colleen Hoover</b></p>
                                <p class="book_name">It Starts with Us</p>
                            </div>
                        </div>
                    </a>
                    <!-- Best sells item -->
                    <a href="#">
                        <div class="best_sell_item">
                            <div class="pic">
                                <img src="../statics/images/Posts/You_reached_sam.jpg" alt="You reached sam">
                            </div>
                            <div class="descriptions">
                                <p class="author"><b>Dustin Tauo</b></p>
                                <p class="book_name">You reached sam</p>
                            </div>
                        </div>
                    </a>
                    <!-- Best sells item -->
                    <a href="#">
                        <div class="best_sell_item">
                            <div class="pic">
                                <img src="../statics/images/Posts/daisy_darker.jpg" alt="daisy darker">
                            </div>
                            <div class="descriptions">
                                <p class="author"><b>Alice Fenny</b></p>
                                <p class="book_name">Daisy darker</p>
                            </div>
                        </div>
                    </a>
                    <!-- Best sells item -->
                    <a href="#">
                        <div class="best_sell_item">
                            <div class="pic">
                                <img src="../statics/images/Posts/Clockwork_princess.jpg" alt="Clockwork princess">
                            </div>
                            <div class="descriptions">
                                <p class="author"><b>Cassandra Clare</b></p>
                                <p class="book_name">Clockwork Princess</p>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
        </div>
    </div>
</body>

</html>