<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="fatemeh-code-official">
    <meta name="subject" content="book shop">
    <meta name="keywords" content="book,book shop,bookshop,booksin">
    <meta name="description" content="Booksin online book shop">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../statics/styles/basics.css">
    <link rel="stylesheet" href="../statics/styles/index.css">
    <link rel="stylesheet" href="../statics/styles/index-res.css">
    <link rel="icon" href="../statics/images/favicon.png" type="image/png">
    <title>Home</title>
</head>

<body id="home">
    <!-- Desktop and Tablet container -->
    <div class="container">
        <!-- Header -->
        <header class="header">
            <!-- Top header -->
            <div class="top_header">
                <!-- Logo -->
                <div class="logo">
                    <img src="../statics/images/logo.png" alt="Booksin-logo">
                    <h1>Booksin</h1>
                </div>
                <!-- Search_box -->
                <div class="search_box">
                    <form action="#" method="post">
                        <input type="text" name="inpt_serchbox" placeholder="Search...">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <!-- Top Header icons -->
                <div class="top_header_icons">
                    <a href="#"><i class="fa-regular fa-user"></i></a>
                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                    <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                </div>
            </div>
            <!-- End of Top header -->
            <!-- Navigation -->
            <div class="navigation">
                <nav>
                    <ul class="navigation_bar">
                        <li>
                            <a href="#category"><i class="fa-solid fa-table-list"></i> Category</a>
                        </li>
                        <li>
                            <a href="index.html"><i class="fa-regular fa-house"></i> Home</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-regular fa-newspaper"></i> Blog</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-info"></i> About us</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-phone"></i> Contact us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- End of Navigation -->
        </header>
        <!-- End of Header -->
    </div>
    <!-- Slider -->
    <div class="slider">
        <button class="shop_now">
            <b>Shop Now</b>
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>
    <!-- End of Slider -->
    <div class="container">
        <!-- Category -->
        <section class="category" id="category">
            <h2 class="category_title">Category</h2>
            <div class="categories">
                <!-- Category item -->
                <div class="category_item">
                    <a href="#">
                        <img src="../statics/images/category/romance.jpg" alt="romance">
                        <p>Romance</p>
                    </a>
                </div>
                <!-- Category item -->
                <div class="category_item">
                    <a href="#">
                        <img src="../statics/images/category/Horror.jpg" alt="Horror">
                        <p>Horror</p>
                    </a>
                </div>
                <!-- Category item -->
                <div class="category_item">
                    <a href="#">
                        <img src="../statics/images/category/history.jpg" alt="Historical">
                        <p>History</p>
                    </a>
                </div>
                <!-- Category item -->
                <div class="category_item">
                    <a href="#">
                        <img src="../statics/images/category/psychology.jpg" alt="psychology">
                        <p>Psychology</p>
                    </a>
                </div>
                <!-- Category item -->
                <div class="category_item">
                    <a href="#">
                        <img src="../statics/images/category/programming.jpg" alt="programming">
                        <p>Programming</p>
                    </a>
                </div>
                <!-- Category item -->
                <div class="category_item">
                    <a href="#">
                        <img src="../statics/images/category/Mystery.jpg" alt="Mystery">
                        <p>Mystery</p>
                    </a>
                </div>
            </div>
        </section>
        <!--End of Category -->

        <!-- Best sells -->
        <div class="best_sells" id="best_sells">
            <section>
                <!-- Best sell title -->
                <h3 class="best_sells_title">
                    Best sells
                </h3>
                <!-- Best sells items -->
                <div class="best_sells_items">
                    <!-- Best sells item -->
                    <a href="#">
                        <div class="best_sell_item">
                            <div class="pic">
                                <img src="../statics/images/Posts/It_ends_with_us.jpg" alt="It ends with us">
                            </div>
                            <div class="descriptions">
                                <p class="author"><b>Colleen Hoover</b></p>
                                <p class="book_name">It ends with us</p>
                            </div>
                        </div>
                    </a>
                    <!-- Best sells item -->
                    <a href="#">
                        <div class="best_sell_item">
                            <div class="pic">
                                <img src="../statics/images/Posts/They_both_die_at_the_end.jpg"
                                    alt="They both die at the end">
                            </div>
                            <div class="descriptions">
                                <p class="author"><b>Adam Slivera</b></p>
                                <p class="book_name">They both die at the end</p>
                            </div>
                        </div>
                    </a>
                    <!-- Best sells item -->
                    <a href="#">
                        <div class="best_sell_item">
                            <div class="pic">
                                <img src="../statics/images/Posts/It_Starts_with_Us.jpg" alt="It Starts with Us">
                            </div>
                            <div class="descriptions">
                                <p class="author"><b>Colleen Hoover</b></p>
                                <p class="book_name">It Starts with Us</p>
                            </div>
                        </div>
                    </a>
                    <!-- Best sells item -->
                    <a href="#">
                        <div class="best_sell_item">
                            <div class="pic">
                                <img src="../statics/images/Posts/You_reached_sam.jpg" alt="You reached sam">
                            </div>
                            <div class="descriptions">
                                <p class="author"><b>Dustin Tauo</b></p>
                                <p class="book_name">You reached sam</p>
                            </div>
                        </div>
                    </a>
                    <!-- Best sells item -->
                    <a href="#">
                        <div class="best_sell_item">
                            <div class="pic">
                                <img src="../statics/images/Posts/daisy_darker.jpg" alt="daisy darker">
                            </div>
                            <div class="descriptions">
                                <p class="author"><b>Alice Fenny</b></p>
                                <p class="book_name">Daisy darker</p>
                            </div>
                        </div>
                    </a>
                    <!-- Best sells item -->
                    <a href="#">
                        <div class="best_sell_item">
                            <div class="pic">
                                <img src="../statics/images/Posts/Clockwork_princess.jpg" alt="Clockwork princess">
                            </div>
                            <div class="descriptions">
                                <p class="author"><b>Cassandra Clare</b></p>
                                <p class="book_name">Clockwork Princess</p>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
        </div>
        <!-- End of Best sells -->
    </div>

    <!-- Daily quote -->
    <div class="daily_quote">
        <h4 class="quote_title">
            "I do believe something very magical can happen when you read a book"
        </h4>
        <p class="quote_author">
            J.K. Rowling
        </p>
    </div>
    <!-- End Daily quote -->

    <div class="container">
        <!-- Popular authors -->
        <div class="popular_authors">
            <h5 class="popular_authors_title">
                Popular Authors
            </h5>
            <!-- Authors group -->
            <div class="authors" id="popular_authors">
                <!-- Author -->
                <a href="#">
                    <div class="p_author">
                        <img src="../statics/images/authors/Adma_silvera.jpg" alt="Adma silvera">
                        <p class="author_name">Adma Silvera</p>
                        <p class="author_book">2 Books</p>
                    </div>
                </a>
                <!-- Author -->
                <a href="#">
                    <div class="p_author">
                        <img src="../statics/images/authors/JK_Rowling.jpg" alt="JK Rowling">
                        <p class="author_name">JK Rowling</p>
                        <p class="author_book">3 Books</p>
                    </div>
                </a>
                <!-- Author -->
                <a href="#">
                    <div class="p_author">
                        <img src="../statics/images/authors/mark_manson.jpg" alt="mark manson">
                        <p class="author_name">Mark Manson</p>
                        <p class="author_book">5 Books</p>
                    </div>
                </a>
                <!-- Author -->
                <a href="#">
                    <div class="p_author">
                        <img src="../statics/images/authors/pone_moqimi.jpg" alt="pone moqimi">
                        <p class="author_name">Poneh Moqimi</p>
                        <p class="author_book">1 Book</p>
                    </div>
                </a>
                <!-- Author -->
                <a href="#">
                    <div class="p_author">
                        <img src="../statics/images/authors/zoya_pirzad.jpg" alt="zoya pirzad">
                        <p class="author_name">Zoya Pirzad</p>
                        <p class="author_book">2 Books</p>
                    </div>
                </a>
                <!-- Author -->
                <a href="#">
                    <div class="p_author">
                        <img src="../statics/images/authors/FreidaـMcFadden.jpg" alt="Freida McFadden">
                        <p class="author_name">Freida McFadden</p>
                        <p class="author_book">7 Books</p>
                    </div>
                </a>
            </div>
        </div>
        <!-- End of Popular authors -->
    </div>

    <!-- Footer -->
     <footer class="footer">
        <div class="container">
            <!-- Quick access -->
            <section class="quick_access footer_items">
                <h6 class="footer_section_titles">Quick access</h6>
                <a href="#home">Home</a>
                <a href="#category">Category</a>
                <a href="#best_sells">Best Sells</a>
                <a href="#popular_authors">Popular Authors</a>
            </section>

            <!-- Social media -->
            <section class="social_medias footer_items">
                <h6 class="footer_section_titles">Social Medias</h6>
                <a href="#"><i class="fa-brands fa-telegram"></i> Telegram</a>
                <a href="#"><i class="fa-solid fa-x"></i> X</a>
                <a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
                <a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
            </section>

            <!-- Legal -->
            <section class="footer_items legal">
                <h6 class="footer_section_titles">Legal</h6>
                <a href="#">Terms and Conditions</a>
                <a href="#">Privacy Policy</a>
            </section>
        </div>
     </footer>
     <!-- End of Footer -->
</body>

</html>