/* Default font */
.nunito {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

/* Default settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
}

/*Elements default style*/
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}